:root{

    --mainColor: green;
    --secondaryColor: blue;
    --textColor: gray
}

body{
    color: var(--textColor);
    margin: 0;
    padding: 0
}

section{
    width:100%;
    background-color: beige;
}

.sectionInner{
    padding: 20px;
    text-align: center;
    height: auto;
    min-height: 200px;
    max-width: 1200px; /*limit der Breite bei max 1200px*/
    margin: 0 auto /*zentriert sectionInner zur Mitte*/
}

.position{
    border: 2px solid green;
    position: fixed;
    top: 20px;
    left: 30px;


    
}

.spacer{
    height: 40px
}
/*navigation Css*/

header {
    position: fixed;
    background-color: lightcyan;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    height: auto
}

.headerInner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;  
    margin: auto;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-wrap: wrap;

}

.navItem {

    padding: 10px;
    margin-right: 3px
}

.navItem > a {
    color: var(--textColor);
    text-decoration: none;
}

.navItem > a:hover{

    text-decoration: underline;

}